<div class="padding pt-4">
    <div class="row pt-5">
        <div class="col-md-6 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Super-User Dashboard</h3>
                </div>
                <div class="card-body">
                    <p>
                        Click this button to move the file from limbo folder to confirmed folder!
                        <button type="button" (click)="move()">Move file</button>

                    <p><strong>Limbo files:</strong> {{limbo}}</p>
                    <p><strong>Confirmed files:</strong> {{confirmed}}</p>
                </div>
            </div>
        </div>
    </div>
</div>