<div class="padding pt-4">
    <div class="row pt-5">
        <div class="col-md-6 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Super-User Dashboard</h3>
                </div>
                <div class="card-body">
                    <p><strong>Limbo files:</strong></p>
                    <div>
                        <div *ngFor="let file of limbo">
                            {{file}} <button (click)="move(file)">Approve File</button>
                        </div>
                    </div>
                    <p><strong>Confirmed files:</strong></p>
                    <div>
                        <div *ngFor="let file of confirmed">
                            {{file}} <button (click)="move(file)">Remove File</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>