<div class="container p-5">
    <div class="offset-3 col-7">
      <form [formGroup]="frmEnt" (submit)="submit()">
        <div class="card">
          <div class="card-header font-weight-bold">
            <h3 class = "mb-0">Add Entity</h3>
          </div>
          <div class="card-body">
              <div class="form-group">
                <label>Human Name</label>
                <input class="form-control" formControlName="human_name" type="text">
                <span class="text-danger" *ngIf="frmEnt.controls['human_name'].touched && frmEnt.controls['human_name'].hasError('required')">
                  Human Name is required </span>
              </div>
              <div class="form-group">
                <label>Organisation</label>
                <input class="form-control" formControlName="org" type="text">
              </div>
          </div>
          <div class="card-header">Entity Information</div>
          <div class="card-body" formArrayName="ents">
              <div class="form-group" *ngFor="let contact of entFormGroup.controls; let i = index;">
                <div [frmEntGroupName]="i">
                  <div class="form-group">
                   <label> Is this a Sub-Entity? </label>
                   <input class="form-control" frmEntControlName="issubent" type="checkbox" [checked] = "issubent.check == 'true'"> 
                </div>
                  <div class="form-group">
                    <label>To which entity</label>
                    <select (change)="changedFieldType(i)" class="form-control" frmEntControlName="type" type="text">
                      <option value="Entity A">Entity A</option> 
                      <option value="Entity B">Entity B</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Subentity ID</label>
                    <input class="form-control" frmEntControlName="human_name" type="text">
                    <span class="text-danger" *ngIf="getEntsFormGroup(i).controls['name'].touched && getEntsFormGroup(i).controls['name'].hasError('required')">
                      Human name is required </span>
                  </div>

                  <div class="form-group">
                    <label>Human Name</label>
                    <input class="form-control" frmEntControlName="value" type="text">
                    <span class="text-danger" *ngIf="getEntsFormGroup(i).controls['value'].touched && getEntsFormGroup(i).controls['value'].hasError('required')">
                      Human Name is required </span>
                    <span class="text-danger" *ngIf="getEntsFormGroup(i).controls['value'].touched && getEntsFormGroup(i).controls['value'].hasError('required')">
                      Location is not valid </span>
                    <span class="text-danger" *ngIf="getEntsFormGroup(i).controls['value'].touched && getEntsFormGroup(i).controls['value'].hasError('required')">
                      IS </span>
                  </div>
                   <div class="form-group">
                    <label>Location</label>
                    <input class="form-control" frmEntControlName="loc" type="text">
                    <span class="text-danger" *ngIf="getEntsFormGroup(i).controls['loc'].touched && getEntsFormGroup(i).controls['loc'].hasError('required')">
                      Location is required </span>
                  </div>
                  <div class="form-group text-right">
                    <button class="btn btn-danger" type="button" (click)="removeEnt(i)"> Remove </button>
                  </div> 
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="col-12">
              <button class="btn btn-primary m-1" type="button" (click)="addEnt()"> Add Entity </button>
              <button class="btn btn-success m-1"  type="submit"> Save Entity Information </button>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>
